// Sass (v3.3.6)
@import "_reset";
@import "_normalize";
* {
    box-sizing: border-box;
    vertical-align: top;
    -webkit-transition: width height 0.5s all;
    -moz-transition: width height 0.5s all;
    transition: width height 0.5s;
}

.mosaic-container {
    table {
        border-spacing: inherit;
        transform-origin: 0 0;
        padding: 0;
        margin: 0;
        border: 0;
        tr {
            border-spacing: inherit;
            padding: 0;
            margin: 0;
            border: 0;
            td {
                width: 20px;
                height: 20px;
                border-spacing: inherit;
                padding: 0;
                margin: 0;
                border: 0;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            &:nth-child(2n+1) td:nth-child(2n) {
                img {
                    transform: scaleX(-1);
                }
            }
            &:nth-child(2n) td:nth-child(2n+1) {
                transform: scaleY(-1);
            }
            &:nth-child(2n) td:nth-child(2n) {
                transform: rotate(180deg);
            }
        }
    }
    .zoom_block{
        &:after{
            content: '';
            display: block;
            clear: both;
        }
    }
    .block_rezult {
        float: left;
        width: 300px;
        height: 300px;
        overflow: auto;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}